.achievements {
    color: white;
}

.achievements img {
    padding: 40px;
}

.achievements h1 {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    font-size: clamp(2vw, 5vw + 1rem, 10rem);
}

.achievements h4 {
    color: var(--text-main);
    text-align: center;
    font-size: clamp(2vw, 5vw + 1rem, 10rem);
}

.achievements p {
    font-size: clamp(2vw, 3vw + 1rem, 10rem);
}

.rankingInfo {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 4rem;
    color: white;
    align-items: center;
}

.Trophy {
    width: calc(300px + 15vw);
}

@media(max-width: 500px) and (min-width: 280px) {
    .Trophy {
       width: 250px;
    }
}