.Body {
    color: white;
    padding-top: 20px;
}

.Body h1 {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    font-size: clamp(2vw, 5vw + 1rem, 10rem);
}

.Box {
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 300px;
    align-items: center;
    justify-content: center;
}

.Summary {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.Image {
    height: 300px;
}

.clubinfo {
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Roboto';
    text-overflow: wrap;
}

.Video {
    width: 100%;
}

.VideoInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute; 
    align-items: center;
    background: none;
}

.Matchup {
    margin-top: 20%;
    font-size: clamp(2vw, 5vw + 1rem, 8rem);
    font-family: 'Roboto';
    color: var(--text-main);
    background: transparent;
}

.VideoSound {
    display: flex;
    width: calc(2vw + 50px);
    justify-content: center;
    background-color: transparent;
    z-index: 5;
}

.VideoSound:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

@media(max-width: 1000px) and (min-width: 280px) {
    .Box {
        display: flex;
        width: 100%;
        margin-bottom: calc(100px + 2vw);
        align-items: center;
        justify-content: center;
    }
    .Summary {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .VideoSound {
        display: flex;
        width: calc(30px + 5vw);
        justify-content: center;
        background-color: transparent;
        z-index: 5;
    }
}
